
    <div class="x_title">
      <h2>Update Appointment</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <%= render 'form', appointment: @appointment, sellers: @sellers, edit_mode: true, default_type: Appointment.statuses[@appointment.status.to_sym], default_status: Appointment.types[@appointment.app_type.to_sym] %>
    </div>
    