
    <div class="x_title">
      <h2>Edit Appointment</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <%= render 'edit_form', appointment: @appointment %>
    </div>
    