  <div class="x_panel">
    <div class="x_title">
      <h2>New Appointment</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <%= render 'form', appointment: @appointment %>
    </div>
    </div>

